@import "../../root.scss";

.modal__pesquisa{
    width: 100%;
    text-align: center;
    background-color: $emphasis;
    padding: 20px 0;

    .pesquisa__form{
        text-align: left;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        justify-content: center;
        .local__pesquisa{
            label{
                display: block;
            }
            .input{
                width: 100%;
            }
            datalist{
                width: 100%;
            }

        }
    }

}

@media (max-width: $screen-lg-max) {
    .pesquisa__form{
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1rem;

        .pesquisa__div{
            width: 18.75rem;
            margin: 0 auto;
        }

        button{
            margin: 0 auto;
        }
        
    }
}

@media (min-width: $screen-lg-max) {
    .pesquisa__form{
        align-items: flex-end;

        .pesquisa__div{
            .local__pesquisa{
                width: 25rem;
            }
        }

        .pesquisa__div, button{
            margin: 0 1rem;
        }
    }

}

@media (min-width: $screen-xl-max) {
    .pesquisa__form{
        .pesquisa__div{
            .local__pesquisa{
                width: 30rem;
            }
        }

        .pesquisa__div, button{
            margin: 0 2rem;
        }

    }

}

@media (min-width: 2000px) {
    .pesquisa__form{
        .pesquisa__div{
            .local__pesquisa{
                width: 40rem;
            }
        }

        .pesquisa__div, button{
            margin: 0 3rem;
        }

        .btn-pesquisar{
            width: 20rem;
        }

    }

}