@import "../../../../../root.scss";
.date__pesquisa{
    .date__div{
        display: flex;
        flex-wrap: nowrap;
        border-radius: 0.5rem;
        
        .date__input{
            height: 2.5rem;
            color: $primary2;
            border: none;
            text-align: center;
            
            &::placeholder{
                color: $grey4;
            }
            &:focus{
                border: none;
                outline: none;
            }
        }
    }

    .start{
        border-radius: 0.5rem 0 0 0.5rem ;
        /* text-align: right; */
    }
    .end{
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

@media (max-width: $screen-lg-max){
    .date__pesquisa, .date__div{
        width: 18.75rem;
        .date__input{
            width: 9.25rem;
        }
    }
}
@media (min-width: $screen-lg-max){
    .date__pesquisa, .date__div{
        width: 25rem;
        .date__input{
            width: 50%;
        }
    }
}

@media (min-width: $screen-xl-max){
    .date__pesquisa, .date__div{
        width: 30rem;
    }
}

@media (min-width: 2000px){
    .date__pesquisa, .date__div{
        width: 40rem;
    }
}