@import "../../root.scss";

.filtro__cidade__periodo{
    position: fixed;
    top: 7.25rem;
    z-index: 1;
    background-color: $emphasis;
    color: $primary2;
    text-align: center;
    padding: 0.75rem 0;
    margin: 0;
}
.disponibilidade__filtros{
    .filtro__btn{
        width: 50%;
        height: 3.75rem;
        border-radius: 0;
    }
    .filtro--filtrar{
        border-left: 0.5px solid $white;
        
    }
    .filtro--ordenar{
        border-right: 0.5px solid $white;
    }
}
.disponibilidade__carro{
    .disponibilidade__card{
        margin: 2.5rem 0;
    }
}
.card__filtros {
    margin: 1.25rem;
    border-radius: 0.75rem;
    border: solid 1px $neutral2;
    width: 03.5rem;
    .filtro__title, .filtro__info {
        padding: 0.5rem 1.25rem;
    }
    .filtro__title {
        border-radius: 0.75rem 0.75rem 0 0;
        background-color: $neutral2;
        margin: 0;
    }
}   .filtro__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    .filtro__checkbox {
        width: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .filtro__input {

        }
        .filtro__label {
            /* background-color: $emphasis; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0.5rem;
            border-radius: 0.5rem;
            
        }
    }
}
@media (min-width: $screen-md-max) {
    .card__filtros {
        width: 13.5rem;
    }
}

@media (min-width: $screen-lg-max) {
    .card__filtros {
        width: 16.5rem;
    }
}
@media (max-width: $screen-lg-max){
    .filtro__cidade__periodo{

        width: 100vw;
    }
    .disponibilidade__filtros{
        position: fixed;
        top: 9.75rem;
        width: 100vw;
    }

    .disponibilidade__carro{
        margin-top: 15rem;
        padding: 0 1.25rem;
    }
}

@media (min-width: $screen-lg-max){
    .disponibilidade{
        padding: 0 2.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .filtro__cidade__periodo{
            width: 70vw;
            right: 2.5rem;
        }
        .disponibilidade__filtros{
            width: 20vw;
        }
        .disponibilidade__todosCarros{
            margin-top: 1rem;
            width: 70vw;
            .disponibilidade__carro{
                width: 100%;
            }
        }
    }
}
