@import "../../assets/style/root.scss";

.cadastro__container, .login__container{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .offscreen {
        display: none;
    }
    .errmsg {
        background-color: $grey1;
        color: $red;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .form__title{
        text-align: center;
    }
    .cadastro__form, .login__form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.25rem 1.5rem;
        .form__label{
            margin: 2rem 0 0.25rem;
            &:first-child{
                margin-top: 0;
            }
            .hide {
                display: none;
            }
            .valid {
                color: $green;
                margin-left: 0.5rem;
            }
            .invalid {
                color: $red;
                margin-left: 0.5rem;
            }
        }
        .input, .textarea{
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
            width: 100%;
        }
        .instructions {
            margin: 0.5rem 0 ;
            border-radius: 0.5rem;
            background-color: $grey2;
            color: $primary2;
            padding: 0.5rem;
            svg {
                margin-right: 0.5rem;
            }
        }
        .btn{
            margin: 2rem auto 0;
        }
        .persistCheck{
            margin-top: 2.5rem;
            text-align: center;
            input{
                margin-right: 0.5rem;
            }
        }
    }
    .btn-cadastro{
        padding: 0.75rem 4rem;
        border-radius: 0.5rem;
    }
    .subtitle{
        .span{
            color: $emphasis;
            margin-left: 0.5rem;
            text-decoration: underline;
        }
    }
}

@media (max-width: $screen-md-max) {
    .cadastro__form, .login__form{
        width: 100%;
    }
}
@media (min-width: $screen-md-max) {
    .cadastro__form, .login__form{
        width: 50%;
    }
}
@media (min-width: $screen-xl-max) {
    .cadastro__form, .login__form{
        width: 40%;
    }
}
@media (min-width: 2000px) {
    .cadastro__form, .login__form{
        width: 30%;
    }
}