@import '../../../root.scss';
@import '../../../index.scss';

.card__filtros {
    width: 80vw;
    background-color: $white;
    border-radius: .75rem;
    .card__form {
        
        .btn-limpar {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 1rem 0 0;
            display: block;
            &:last-child {
                margin-bottom: 1rem;
            }
        }
        .filtro__title{
            background-color: $neutral2;
            padding: .5rem .5rem .5rem 3rem;
            &:first-child {
                border-radius: .75rem .75rem 0 0;
            }
        }
        .filtro__checkbox {
            padding-left: 4.25rem;
            .filtro__input, .filtro__label {
                padding: .25rem;
            }
        }
    }
}

@media (min-width: $screen-lg-max) {
    .card__filtros {
        width: 30vw;
        border: 1px solid $neutral2;
        margin-bottom: 1.5rem;
        .card__form {
            
            .filtro__title:first-child {
                margin-top: 0;
            }
        }
    }
}
@media (min-width: $screen-xl-max) {
    .card__filtros{
        width: 20vw;
    }
}