@import "../../root.scss";
@import "../../index.scss";

.categorias__filtros {
  display: flex;
  flex-wrap: wrap;

  .filtro__cidade_periodo {
      p {
          margin: 0;
      }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    left: 0px;
    background: #fbc02d;
    flex-basis: 100%;
  }

  .filtro__ordernar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    left: 0px;
    color: $white;
    background: $grey4;
    flex-basis: 50%;
  }

  .filtro__filtrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: $white;
    align-items: center;
    background: $grey4;
    flex-basis: 50%;
  }
}

.detalhe__carro {
  display: flex;
  flex-direction: column;
  border: 1px solid #FBC02D;
  margin:  25px 15px;
  justify-content: space-around;
  border-radius: 8px;
  margin-bottom: 10px;

  .carro__nome {
    padding: 0 1.25rem;
    height: 1.75rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: $emphasis;
    color: $primary2;
  }
  .carro__categoria {
    padding: 0 1.25rem;
    height: 4.25rem;
    background-color: $primary2;
    color: white;
    display: flex;
    align-items: center;
  }
  .carro__info {
    .carro__img {
      width: 18.75rem;
      margin: 2rem auto;
      height: 8rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .carro__caracteristica {
    padding: 0 1.25rem;
    margin: 2.5rem 0;

    h2 {
      text-decoration: underline;
    }
    .caracteriscas__card {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.25rem;
    }
  }
  .carro__preco_reserva {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    flex-basis: 50%;
  }
  .info__preco{
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    flex-basis: 50%;
    color: $green;
  }
}
}
