.card__carro{
    flex: none;
    min-width: 200px;
    max-width: 313px;
    border: 1px solid #8AB5CA;
    border-radius: 8px;
    margin: 0 20px;
    .card__img{
        width: 313px;
        height: 226px;
        img{
            border-radius: 8px 8px 0px 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card__info{}
}