@import "./root.scss";
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  color: $primary2;

  /* li {
    list-style: none;
  } */
  
  main{
    margin-top: 116px;
    min-height: calc(100vh - 180px);
    margin-bottom: 10px;
  }
  
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  label, a, button{
    cursor: pointer;
  }
}

/* font-size */
.btn-large{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.btn-small{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
};

.body-small{
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.body-large{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

/* Buttons */
.btn{
  width: 201px;
  height: 40px;
  border-radius: 6px;
}
.primary-btn{
  background-color: $emphasis;
  color: $primary2;
  border: none;
  transition: ease .2s;
  
  &:hover{
    background-color: $secundary1;
  }
}

.secondary-btn{
  background-color: $primary2;
  color: $white;
  border-color: transparent;
  &:hover{
    background-color: $emphasis;
    border: 3px $grey4 solid;
    color: $primary2;
  }
}

.tertiary-btn{
  background-color: $white;
  color: $emphasis;
  border: 3px solid $emphasis;
  &:hover{
    background-color: $secundary1;
    color: $white ;
  }
}

.success-btn{
  background-color: $green;
  color: $primary2;
  border: none;
  transition: ease .2s;
  &:hover{
    background-color: $secundary3;
  }
}

/* label, .error{
  display: block;
} */

.input, .textarea{
    border-radius: 0.5rem;
    border: none; 
    background-color: $white;
    height: 2.5rem;
    color: $primary2;
    border: none;
    text-align: center;
    
    &::placeholder{
        color: $grey4;
        line-height: 1.25rem;
    }
    &:focus{
        border: none;
        outline: none;
    }
}