/* Colors */

$emphasis: #FBC02D;
$primary2: #263238;
$primary3: #607D8B;
$white: #FFFFFF;
$neutral2: #D3D0BD;
$neutral3: #35342F;
$red: #9B1C29;
$green: #98D739;
$secundary1: #D39700;
$secundary2: #8E9FA7;
$secundary3: #8AB5CA;
$grey1: #E5E5E5;
$grey2: #BDBDBD;
$grey3: #757575;
$grey4: #424242;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 414px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

